/AutoUpdatingService/bin/Debug/AutoUpdateService.exe
/AutoUpdatingService/bin/Debug/AutoUpdateService.exe.mdb
/AutoUpdatingService/bin/Debug/WcfPeer.dll
/AutoUpdatingService/bin/Debug/WcfPeer.dll.mdb
/AutoUpdatingService.userprefs
